---
---

<div id="SavingFiles1">
  <img
    srcset="/img/11.06-finder-files-in-22.02.png 2x"
    alt="Finder window showing files stored in the folder 22.02 Office lease"
    loading="lazy"
  />
  <div>
    <p>Neatness is the key. If things are neat, you know where they are.</p>
    <p>
      We save our stuff <strong>in our Johnny.Decimal folders.</strong>
    </p>
  </div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  #SavingFiles1 {
    display: grid;
    grid-auto-flow: row;
    // These look better with less of a gap
    img {
      margin-top: 0;
    }
    p:first-child {
      margin-top: 0;
    }

    @include for-tablet-portrait-up() {
      grid-auto-flow: column;
      grid-template-columns: max-content auto;
      gap: $large;

      // These look better with less of a gap
      img {
        margin-top: 0;
      }
      p:first-child {
        margin-top: 0;
      }
    }
  }
</style>
