---
interface Props {
  number: string;
  area: string;
  category?: string;
}
const { number, area, category } = Astro.props;

import BracketsHorizontalTop from "@components/BracketsHorizontal/BracketsHorizontalTop.astro";
import BracketsHorizontalBottom from "@components/BracketsHorizontal/BracketsHorizontalBottom.astro";
import { jdGetAcidTypeFromString } from "@johnnydecimal/jdgetacidtypefromstring";

/**
 * Create a link to this page's area.
 *
 * We're not using this. Just comment out for now.
 * TODO: clean up.
 const areaUrl = "/" + area.replaceAll(" ", "-").toLowerCase();
*/

/**
 * Create a link to this page's category, if it has one. (Areas don't.)

 * We're not using this. Just comment out for now.
 * TODO: clean up.
 let categoryUrl;
 if (category) {
   categoryUrl = areaUrl + "/" + category.replaceAll(" ", "-").toLowerCase();
  }
*/

/**
 * We only want to show an ID in the 'location' box if the page we're on
 * is an ID page, i.e. not if it's an area or category.
 *
 * Current jdGetAcid... expects "10-19 A title", so fudge that for now.
 * TODO: Fix.
 */
let numberAcidType = jdGetAcidTypeFromString(number + " FIX THIS");

/**
 * 2023-05-17 added the conditional check to area as well as the other two
 * to handle the special case of the 404.
 *
 * TODO: why necessary? You're specifying an area in its frontmatter.
 *       Probably related to the switch to content collections. Fix.
 */
---

<div class="Location">
  <BracketsHorizontalTop label="Location" />

  <div class="locationbox-acid-details-grid">
    <div>Area&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div><div>{area ? area : "-"}</div>
    <div>Category :</div><div>{category ? category : "-"}</div>
    <div>ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div><div>
      {numberAcidType.jdAcidType === "id" ? number : "-"}
    </div>
  </div>

  <BracketsHorizontalBottom />
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .Location {
    font-family: $monospace;
    padding: $medium $small;
    color: $colour-700;

    @include for-tablet-landscape-up {
      padding: 0;
    }
  }

  .locationbox-acid-details-grid {
    display: grid;
    grid-template-columns: 11ch 1fr;
    margin-left: 2ch;
  }
</style>
