---
---

<div id="SavingFiles3">
  <img
    srcset="/img/11.06-finder-bad-doc-in-11.png 2x"
    alt="Finder window showing file incorrectly stored in the folder 10-19 Finance"
    loading="lazy"
  />
  <div>
    <p>...or in the <code>11 Tax returns</code> category folder.</p>
    <p>The important finance document must relate to something!</p>
    <p>
      Find what category that something is, and if it doesn't exist, create it.
      Then <strong
        >create a new Johnny.Decimal number inside that category,</strong
      > and store your document there.
    </p>
  </div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  #SavingFiles3 {
    display: grid;
    grid-auto-flow: row;
    // These look better with less of a gap
    img {
      margin-top: 0;
    }
    p:first-child {
      margin-top: 0;
    }

    @include for-tablet-portrait-up() {
      grid-auto-flow: column;
      grid-template-columns: max-content auto;
      gap: $large;

      // These look better with less of a gap
      img {
        margin-top: 0;
      }
      p:first-child {
        margin-top: 0;
      }
    }
  }
</style>
