---
---

{
  import.meta.env.DEV ? (
    <div style="padding: 5px; background: greenyellow;">{Astro.self.name}</div>
  ) : null
}
<div class="jd-box">
  <pre>Administration
<span class="highlight">Exports <span class="extra-space">      </span>  &#x25C0;&#x2500;<span class="bold"> new folder</span></span>
Finance
Marketing</pre>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .jd-box {
    margin: 0 0 4rem 0;
    padding: 1.5rem 2rem;
  }

  .highlight {
    background-color: $highlight-300;
  }

  .extra-space {
    display: none;
    @include for-tablet-portrait-up {
      display: inline;
    }
  }
</style>
