<div class="grid jd-box">
  <div class="border-right bold">Item</div>
  <div class="border-right padding bold">File</div>
  <div class="border-right padding bold">Database</div>
  <div class="padding bold">Email</div>

  <div class="divider"></div>

  <div>17.01 Risk register</div>
  <div></div>
  <div class="centre">&#x2705;</div>
  <div></div>
  <div class="divider"></div>

  <div>17.02 Risk mgmt plan</div>
  <div class="centre">&#x2705;</div>
  <div></div>
  <div></div>

  <div class="divider"></div>
  <div>17.03 Workshop minutes</div>
  <div></div>
  <div></div>
  <div class="centre">&#x2705;</div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: $monospace;

    font-size: 1.2rem;
    @include for-tablet-portrait-up() {
      font-size: 1.6rem;
    }
  }

  .bold {
    font-weight: bold;
  }

  .border-right {
    border-right: 1px solid $highlight-400;
  }

  .centre {
    place-self: center;
  }

  .divider {
    grid-column: 1 / span 4;
    border-bottom: 1px solid $highlight-500;
    margin: 2px 0;
  }

  .padding {
    padding: 0 $small;
  }
</style>
