---
---

<form
  action="https://buttondown.email/api/emails/embed-subscribe/johnny.decimal"
  method="post"
  target="_self"
  onsubmit="window.open('https://buttondown.email/johnny.decimal', '_self')"
  class="embeddable-buttondown-form"
>
  <input
    type="email"
    name="email"
    placeholder="you@example.com"
    id="bd-email"
    data-1p-ignore
    data-lpignore
  />
  <div class="button">
    <input
      type="radio"
      name="tag"
      value="leave-me-the-hell-alone"
      id="bd-list-selection-leave-me"
      checked
    />
    <label for="bd-list-selection-leave-me">Leave me the hell alone</label>
  </div>
  <div class="button">
    <input
      type="radio"
      name="tag"
      value="im-bored-at-work"
      id="bd-list-selection-im-bored"
    />
    <label for="bd-list-selection-im-bored">I'm bored at work</label>
  </div>
  <input type="submit" value="─▷     Subscribe     ◁─" />
  <p class="marketing">
    <a href="https://buttondown.email" target="_blank">
      Powered by Buttondown, which I love.
    </a>
  </p>
</form>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  form {
    & input[type="email"] {
      border-radius: 0;
      outline: 1px solid $colour-500;
      width: 100%;
      max-width: 35ch;
      padding: 0.5rem;
      font-family: $monospace;
    }

    & .button {
      margin: 1rem 0;
    }

    & input[type="submit"] {
      color: $colour-100;
      background-color: $colour-800;
      padding: 0.5rem;
      border: 2px solid $colour-500;
      border-radius: 0;
      -webkit-appearance: none; // stops horrrible rounded button
      cursor: pointer;
      width: 100%;
      max-width: 35ch;
      font-family: $monospace;
    }

    & .marketing > a {
      font-size: 1.2rem;
    }
  }
</style>
