// == Import common styles ====================================================
@use "/src/styles/johnny" as *;

// == JDB2 ====================================================================
.JDB2 {
  border: 5px dotted hotpink;
  font-family: $monospace;

  // Not a project
  .a {
    font-weight: bold;
  }
  .ac {
    text-decoration: underline;

    display: grid;
    grid-template-columns: 3ch 1fr;
  }
  .acid {
    display: grid;
    grid-template-columns: 3ch 1fr;
    @include for-tablet-portrait-up() {
      grid-template-columns: 6ch 1fr;
    }
  }

  // A project
  .pro {
    font-weight: bold;
    text-decoration: underline;
  }
  .proa {
    font-weight: bold;

    display: grid;
    grid-template-columns: 4ch 1fr;
  }
  .proac {
    text-decoration: underline;

    display: grid;
    grid-template-columns: 7ch 1fr;
  }
  .proacid {
    display: grid;
    grid-template-columns: 7ch 1fr;
    @include for-tablet-portrait-up() {
      grid-template-columns: 10ch 1fr;
    }
  }

  // Classes passed in manually
  .hotpink {
    color: hotpink;
  }
}
