---
import BracketsHorizontalTop from "../BracketsHorizontal/BracketsHorizontalTop.astro";
import BracketsHorizontalBottom from "../BracketsHorizontal/BracketsHorizontalBottom.astro";
---

<div>
  <BracketsHorizontalTop label="Hey!" />

  <div>Go back to the main site</div>
  <div>Go to the blog index</div>
  <BracketsHorizontalBottom />
</div>
