---
import JDPage from "../layouts/JDPage.astro";
---

<JDPage
  area="00-09 Site administration"
  category={undefined}
  number="04.04"
  title="Four-oh-four"
  backNextDisplay={false}
>
  <h1>04.04</h1>

  <blockquote>
    <p>
      Strictly speaking, not an <a
        href="https://www.rfc-editor.org/rfc/rfc9110.html">RFC 9110</a
      >-compliant error code.
    </p>
  </blockquote>

  <p>
    How ironic: a site dedicated to numbers, and you're seeing one. Entirely the
    wrong one &ndash; <code>404</code> is the HTTP error code which means we couldn't
    find what you were looking for.
  </p>

  <p>
    If you think there should be something here &ndash; like if you clicked a
    link on this site and arrived here &ndash; please <a
      href="/00-09-site-administration/02-send-and-receive/02.01-contact-me/"
      >contact me</a
    > and I'll fix it. Thanks! :-)
  </p>
</JDPage>
