---
interface Props {
  id: string;
  date: string;
}
const { id, date } = Astro.props;

import BracketsHorizontalTop from "@components/BracketsHorizontal/BracketsHorizontalTop.astro";
import BracketsHorizontalBottom from "@components/BracketsHorizontal/BracketsHorizontalBottom.astro";
---

<a id="zero-zero-zero-zero"></a>
<nav id="BlogNavigation">
  <BracketsHorizontalTop label="Post" />

  <div class="details-grid">
    <div class="margin-bottom">ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div><div>
      {id}
    </div>
    <div>Link&nbsp;&nbsp;&nbsp;:</div><div>
      <a href=`https://jdcm.al/${id}`>jdcm.al/{id}</a>
    </div>
    <div>Date&nbsp;&nbsp;&nbsp;:</div><div>{date}</div>
    <div class="divider">
      ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
    </div>
  </div>

  <div class="site-links">
    <div class="margin-bottom">
      <a class="link-grid margin-bottom" href="/"
        ><span>↖</span><span>Johnny.Decimal documentation</span></a
      >
    </div>
    <div>
      <a class="link-grid" href="/20-29-communication/22-blog/22.02-all-posts/"
        ><span>↑</span><span>Blog post index</span></a
      >
    </div>
  </div>

  <BracketsHorizontalBottom />
</nav>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  nav {
    font-family: $monospace;
    border-top: 1px dashed $colour-800;
    padding: $medium $small;
    color: $colour-700;

    @include for-tablet-landscape-up {
      max-width: 40ch;

      margin: 0 auto $large 0;
      padding: 0;

      border-top: none;
    }
  }

  a.link-grid {
    display: grid;
    margin: 0 2ch;
    grid-template-columns: 2ch 1fr;
    &:hover,
    &:hover:visited {
      background-color: $colour-500;
      color: $colour-50;
    }
  }

  .margin-bottom {
    // margin-bottom: $small;
  }

  .BlogNavigation {
    font-family: $monospace;
    padding: $medium $small;
    color: $colour-700;

    @include for-tablet-landscape-up {
      padding: 0;
    }
  }

  a {
    &:hover,
    &:visited:hover {
      background-color: $colour-500;
      color: $colour-50;
    }
  }

  .details-grid {
    display: grid;
    grid-template-columns: 11ch 1fr;
    margin: 0 2ch;
  }

  .divider {
    grid-column: span 2;
    margin: $medium 0;
    overflow: hidden;
  }

  .span-2 {
    grid-column: span 2;
  }

  // .site-links {
  //   display: grid;
  //   grid-template-columns: 2ch 1fr;
  //   margin: 0 2ch;
  // }
</style>
