<div class="grid jd-box full-width">
  <div class="emoji-heart">&#x1F9E1;</div>
  <div>
    <a href="https://www.patreon.com/johnnydecimal">Sponsor me on Patreon</a>
  </div>
  <div class="emoji-heart">&#x1F9E1;</div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 1.8rem;
  }

  .jd-box {
    margin: $large auto;
    text-align: center;
    width: 100% !important;

    @include for-tablet-landscape-up() {
      margin: $xl auto;
      width: 80% !important;
    }
  }

  .emoji-heart {
    // Invert it *back*, i.e. never change
    @media (prefers-color-scheme: dark) {
      filter: invert(1) hue-rotate(180deg);
    }
  }

  a {
    padding-inline: $medium;
  }
</style>
