<table id="thirteen-oh-one">
  <tr>
    <th></th>
    <th class="bg-200">Category<br />A0</th>
    <th class="bg-200">Category<br />A1</th>
    <th class="bg-100">...</th>
    <th class="bg-200">Category<br />A9</th>
  </tr>

  <tr>
    <td class="bg-200">Area<br />00-09</td>
    <td>00.ID</td>
    <td>01.ID</td>
    <td></td>
    <td>09.ID</td>
  </tr>

  <tr>
    <td class="bg-200">Area<br />10-19</td>
    <td>10.ID</td>
    <td>11.ID</td>
    <td></td>
    <td>19.ID</td>
  </tr>

  <tr>
    <td class="bg-100">...</td>
    <td class="belong-to-us">all</td>
    <td class="belong-to-us">your</td>
    <td></td>
    <td class="belong-to-us">base</td>
  </tr>

  <tr>
    <td class="bg-200">Area<br />90-99</td>
    <td>90.ID</td>
    <td>91.ID</td>
    <td></td>
    <td>99.ID</td>
  </tr>
</table>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  table#thirteen-oh-one {
    font-family: $monospace;
    border: 2px solid $colour-500;
    border-radius: 2px;
    border-collapse: collapse;
    font-size: 1.2rem;

    @include for-tablet-portrait-up() {
      font-size: 1.6rem;
    }

    & th,
    td {
      border: 1px solid $colour-300;
      padding: $tiny;
      text-align: center;

      &.belong-to-us {
        color: $colour-50;
      }
      &.bg-100 {
        background-color: $colour-100;
      }
      &.bg-200 {
        background-color: $colour-200;
      }

      @include for-tablet-portrait-up() {
        padding: $small;
      }
    }

    & th {
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

    & td:first-child {
      font-weight: bold;
    }
  }
</style>
