---
---

<div style="position: relative; padding-top: 216.70428893905193%;">
  <iframe
    src="https://customer-0vzxe7663i88w6sg.cloudflarestream.com/5d3f0ffe9093c35002f2f3bd3c48400c/iframe?poster=https%3A%2F%2Fcustomer-0vzxe7663i88w6sg.cloudflarestream.com%2F5d3f0ffe9093c35002f2f3bd3c48400c%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
    class="OldColleague"
    style="position: absolute; top: 0; left: 0; height: 960px; width: 443px;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"></iframe>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  #OldColleague {
    border: none;
  }
</style>
