---
const { footnotes } = Astro.props;
// <sup>{n + 1}</sup>
---

<div id="footnotes">
  <hr />
  <ol>
    {
      footnotes.map((footnote: string, n: number) => (
        <li class="footnote" id={`footnote-${n + 1}`}>
          <p>
            <span set:html={footnote} />
            <a class="footback" href={`#footref-${n + 1}`}>
              &#8617;&#xfe0e;
            </a>
          </p>
        </li>
      ))
    }
  </ol>
</div>

<style lang="scss" is:global>
  // Need global to style the injected content. Control by wrapping
  // everything in the #footnotes selector.
  @use "/src/styles/johnny" as *;

  #footnotes ol li.footnote {
    // This sets the font-size of the list number.
    font-size: 1.4rem;
    margin: $small 0;

    // This cascades the font-size down to the content.
    p {
      font-size: inherit;
      margin: 0;

      code {
        font-size: inherit;
      }

      a.footback {
        color: $colour-500;
        font-size: 1.2rem;
        padding-inline: 2px;

        &:visited {
          color: $colour-500;
        }
        &:hover {
          background-color: $colour-500;
          color: $colour-50;
        }
        &:visited:hover {
          background-color: $colour-500;
          color: $colour-50;
        }
      }
    }
  }
</style>
