---
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Johnny.Decimal is a system to organise projects (or your life, or anything else)"
    />
    <meta name="theme-color" content="#F04A00" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/rss.xml"
      title="RSS Feed"
    />
    <link rel="me" href="https://hachyderm.io/@johnnydecimal" />
    <title>{title}║J•D</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/favicon_io/site.webmanifest" />
    <link rel="me" href="https://hachyderm.io/@johnnydecimal" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
  </body>

  <style lang="scss">
    @use "/src/styles/johnny" as *;
  </style>
</html>
