---
import { CollectionEntry, getCollection } from "astro:content";

const blogPosts = await getCollection("blog", ({ data }) =>
  // In DEV, return everything; otherwise, return data.publish.
  import.meta.env.DEV ? true : data.publish
);

// We publish with oldest (21.01.0001) last.
blogPosts.reverse();

type Props = CollectionEntry<"blog">;
---

<ul class="AllPosts">
  {
    blogPosts.map(async (post) => {
      const { Content, headings } = await post.render();

      const postSlug =
        "/20-29-communication/22-blog/" +
        post.slug.replace(/(\d\d)(\d\d)(.*)/, "$1.$2.$3/");

      return (
        <li>
          <a class="blog-post-link" href={postSlug}>
            <span>{post.data.title}</span> <span>[{post.data.number}]</span>
          </a>
        </li>
      );
    })
  }
</ul>

<style lang="scss" is:global>
  // Global required to affect <Content />.
  // Everything must be contained in article.blog-post.
  @use "/src/styles/johnny" as *;

  ul.AllPosts {
    font-family: $monospace;
    margin-bottom: $xxxl;

    li {
      font-size: 1.6rem;

      a.blog-post-link {
        display: grid;
        grid-template-columns: 1fr 12ch;
        text-decoration: none;
        color: $colour-500;

        &:hover {
          color: $colour-50;
          background-color: $colour-500;
        }

        &:visited {
          color: $colour-700;
        }

        &:hover:visited {
          background-color: $colour-600;
          color: $colour-50;
        }
      }
    }
  }
</style>
