<h1>The Picture component</h1>

<picture>
  <source
    srcset="/img/test/test-300w@2x.png 2x"
    media="(max-width: 320px)"
    width="300"
  />
  <source
    srcset="/img/test/test-360w@2x.png 2x"
    media="(min-width: 321px)"
    width="360"
  />
  <img src="/img/test/test-360w@2x.png" width="360" />
</picture>

<h2>Picture ends</h2>
